<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="logo mercado Liebre">
        <p> Lugar para poner barra de busqueda</p>
        <p> Comprá en cuotas y sin tarjeta de crédito</p>
        <nav> 
            <ul> 
                <li> <a href=""> Ofertas</a></li>
                <li> <a href=""> Tiendas Oficiales</a></li>
                <li> <a href=""> Vender</a></li>
                <li> <a href=""> Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="">Creá tu cuenta</a></li>
                <li><a href="">Ingresá </a></li>
                <li><a href="">Mis Compras </a></li>
            </ul> 
        </nav>
    </header>
    <main>
        <section> 
            <h3> Basado en la ultima vista</h3>
            <article> 
            <img width= 100%; src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex ">
            <p>$6.770</p>
            <p>40% Off</p>
            <strong>Cafetera Moulinex</strong>
            </article>
            <article> 
                <img width= 100%; src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <p>$230.000</p>
                <p>20% Off</p>
                <strong>MacBook Pro 2019</strong>
            </article>
            <br> 
            <article>
                <img width= 100% ; src="/images/img-samsung-galaxy-s10.jpg" alt="Sansumg Galaxy S10">
                <p>$70.500</p>
                <p>10% Off</p>
                <strong>Samsung Galaxy S10</strong>
            </article>
            <br> 
            <article>
                <img width=100%; src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43"">
                <p>$23.200</p>
                <p>5% Off</p>
                <strong>SmartTv Samsung 43" </strong>
            </article>
        </section>
        <section>
            <h3>Seccion de Ofertas</h3>
            <article>
                <img width=100%; src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <p>$6.770</p>
                <p>40% Off</p>
                <strong>Cafetera Moulinex</strong>
            </article>
            <article>
                <img width=100%; src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <p>$230.000</p>
                <p>20% Off</p>
                <strong>MacBook Pro 2019</strong>
            </article>
            <article>
                <img width=100%; src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <p>$70.500</p>
                <p>10% Off</p>
                <strong>Samsung Galaxy S10</strong>
            </article>
            <article>
                <img width=100%; src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43"">
                <p>$23.200</p>
                <p>5% Off</p>
                <strong>SmartTv Samsung 43"</strong>
            </article>
        </section>
    </main>
    <br>
    <footer>
        <section>
            <strong>Pagá con tarjeta o en efectivo</strong>
            <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <strong>Envío gratis desde $ 2.500 </strong>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <strong>Seguridad, de principio a fin</strong>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <p> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>